@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.App{
  max-width: 850px;
  margin: 20px auto;
}

.App, button{
  font-family: 'Roboto', sans-serif;
}

.app-title{
  font-family: 'Nunito', sans-serif;
  font-size: 1.25rem;
  text-transform: capitalize;
} 

    @media screen and (max-width: 880px){
      .App{
        width: 90%;
      }
    }

    @media screen and (max-width: 520px){
      .app-title{
        text-align: center;
      }
    }